<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
  <link rel="stylesheet" th:href="@{/css/product.css}"/>
</head>
<body>

<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-dark" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-dark" role="button" data-bs-toggle="dropdown" aria-expanded="false">Categories</a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li th:each="category: ${categories}"><a class="dropdown-item text-dark" th:href="@{'/category/' + ${category.idCat}}" th:text="${category.name}"></a></li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-dark" role="button" data-bs-toggle="dropdown" aria-expanded="false">Account</a>
          <ul sec:authorize="hasRole('ANONYMOUS')" class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item text-dark" href="/login">Login</a></li>
            <li><a class="dropdown-item text-dark" href="/register">Register</a></li>
          </ul>
          <ul  sec:authorize="hasRole('CUSTOMER')" class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item text-dark" href="/accountDetails">Account details</a></li>
            <li><a class="dropdown-item text-dark" href="/logout">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<p th:each="authority : ${#authentication.getAuthorities()}"
   th:text="${authority.getAuthority()}">
</p>

<section class="section-products">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-md-8 col-lg-6">
        <div class="header">
          <h2>Products</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- Single Product -->
      <div class="col-md-6 col-lg-4 col-xl-3" th:each="product: ${products}">
        <div id="product-2" class="single-product" th:style="'background:url(' + @{'/image/' + ${product.idP}} + ') no-repeat center;'">
          <a th:href="@{'/product/' + ${product.idP}}">
            <div class="part-1">
            </div>
           </a>
        </div>
        <div class="single-product">
        <div class="part-2 text-center">
          <h3 class="product-title" th:text="${product.name}"></h3>
          <h4 class="product-price" th:text="${product.price} + '€'"></h4>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>

</body>
</html>